name: CI/CD CN001/SN001 Build/Test

on:
  push:
    branches:
      - '**' ## On all branches

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "true"
      - name: Set up Python
        uses: actions/setup-python@v1
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          sudo pip install platformio
      - name: Install platformIO libraries
        run: sudo pio lib install
      - name: Run PlatformIO
        run: ./flash.sh compile
