name: CI/CD ESP-IDF Build

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
      
      - name: Install ESP-IDF
        uses: espressif/install-esp-idf-action@v1
        with:
          version: v6.0

      - name: Build ESP-IDF project
        run: |
          idf.py fullclean build
      - name: Upload BIN
        run: |
          curl -X PUT -T build/firmware-idf.bin https://df-ota.in-maa-1.linodeobjects.com/firmware-idf.bin
