name: CI/CD ESP-IDF Build

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Install ESP-IDF
        uses: espressif/esp-idf-ci-action@v1
        with:
          esp_idf_version: v5.0
          target: esp32  # Change to your target: esp32, esp32s2, esp32s3, esp32c3, etc.

      - name: Build ESP-IDF project
        run: |
          . $IDF_PATH/export.sh
          idf.py fullclean build -D PROJECT_VER=$FW_VERSION