name: CI/CD CN001/SN001 Firmware Deployment Procedure

on:
  push:
    branches:
      - 'testing'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "true"
      
      - name: Set up Python
        uses: actions/setup-python@v1
      
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          sudo pip install platformio
      
      - name: Install platformIO libraries
        run: sudo pio lib install
      
      - name: Run PlatformIO
        run: ./flash.sh compile
      
      - name: Archive Firmware
        run: |
          mkdir -p firmware
          cp .pio/build/compile/firmware.bin firmware/firmware.bin

      - name: Set release date
        run: |
          sudo timedatectl set-timezone Australia/Melbourne
          echo "RELEASE_DATE=$(date +'%Y-%m-%d_%H-%M-%S')" >> $GITHUB_ENV

      - name: Create GitHub release
        id: create-new-release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: v${{ env.RELEASE_DATE }}
          release_name: ${{ env.RELEASE_DATE }}
      
      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create-new-release.outputs.upload_url }}
          asset_path: firmware/firmware.bin
          asset_name: site-v${{ github.run_number }}.bin
          asset_content_type: application/octet
