name: CI/CD ESP-IDF Build

on:
  push:
    branches:
      - '**'

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Build ESP-IDF project
        shell: bash
        run: |
          export IDF_TARGET=esp32s3
          . /opt/esp/idf/export.sh
          idf.py fullclean build